asgiref==3.10.0
bandit==1.8.6
Django==5.2.8
flake8==7.3.0
markdown-it-py==4.0.0
mccabe==0.7.0
mdurl==0.1.2
pycodestyle==2.14.0
pyflakes==3.4.0
Pygments==2.19.2
PyYAML==6.0.3
rich==14.2.0
sqlparse==0.5.3
stevedore==5.5.0
